.game-form {
  width: 80%;
  min-width: 1020px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}

.input-wrapper, .game-form__submit-button {
  margin-top: 10px;
}

.game-form__radius-label, .game-form__coord-select, .game-form__coord {
  margin-left: 5px;
}

.game-form__coord {
  min-width: 300px;
}

.game-form__coord-select {
  min-width: 100px;
}

.game-form__input-wrapper_error .game-form__coord,
.game-form__input-wrapper_error .game-form__coord-select {
  border-color: var(--error-color);
}

.game-form__input-error {
  color: var(--error-color);
  transition: all 0.3s;
  margin-top: 5px; 
}

.game-form__radio-group {
  display: inline;
}

@media screen and (max-width: 1021px) {
  .game-form {
    width: calc(100% - 10px);
    min-width: 0;
  }

  .game-form__coord, .game-form__coord-select, .game-form__radio-group {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }

  .game-form__radius-label:first-child {
    margin-left: 0;
  }

  .game-form__input-error {
    display: block;
  }
}
